repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: https://github.com/psf/black
    rev: 22.12.0
    hooks:
      - id: black
        language_version: python3
        args:
          - --line-length=119
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    # Ruff version.
    rev: 'v0.0.271'
    hooks:
      - id: ruff
        args:
          - --fix
          - --exit-non-zero-on-fix
        exclude: ^src/nanotron/distributed/__init__.py$
