#!/bin/bash
#SBATCH --job-name=tokenizing_doremi
#SBATCH --partition=hopper-cpu
#SBATCH --requeue
#SBATCH --time=18:00:00
#SBATCH --cpus-per-task=96
#SBATCH --mem-per-cpu=500
#SBATCH --qos=high
#SBATCH --array=0-9
#SBATCH -o /fsx/phuc/project_data/doremi/logs/doremi-%j-%a-%x.out

export XDG_CACHE_HOME=/fsx/phuc/.cache/huggingface_cache

REPO=/fsx/phuc/projects/nanotron
PROCESSET_DATASET_SCRIPT=$REPO/examples/doremi/data/change_domain_ids.py


echo "START TIME: $(date)"
echo "Running task ID: $SLURM_ARRAY_TASK_ID"

srun python3 $PROCESSET_DATASET_SCRIPT

echo "END TIME: $(date)"
