#!/bin/bash
#SBATCH --job-name=merge_big_shards_PhilPapers
#SBATCH --partition=hopper-cpu
#SBATCH --requeue
#SBATCH --time=18:00:00
#SBATCH --cpus-per-task=96
#SBATCH --mem-per-cpu=500
#SBATCH --qos=high
#SBATCH -o /fsx/phuc/project_data/doremi/logs/doremi-%j-%a-%x.out

export XDG_CACHE_HOME=/fsx/phuc/.cache/huggingface_cache

echo "START TIME: $(date)"

python3 /fsx/phuc/projects/nanotron/examples/doremi/data/merge_shards.py

echo "END TIME: $(date)"

# #SBATCH --array=0-5
